@import '../../assets/mixin.scss';
.logo {
    padding-left: 50px;
    width: 150px;
    height: 50px;
    line-height: 50px;
    color: $logoColor;
    font-weight: bold;
    background: url(../../assets/images/logo.png) no-repeat 20px 2px;
    background-size: auto 40px;
}