.header {
    $logoColor: #aa2c59;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left-hd, .right-hd {
        display: flex;
        align-items: center;
    }
    .logo {
        padding-left: 50px;
        width: 150px;
        height: 50px;
        line-height: 50px;
        color: $logoColor;
        font-weight: bold;
        background: url(../../assets/images/logo.png) no-repeat 20px 2px;
        background-size: auto 40px;
    }
    .project {
        padding: 0 10px 0 5px;
        height: 30px;
        width: 300px;
        line-height: 30px;
        border: solid 1px #ddd;
        overflow: hidden;
        text-overflow: ellipsis; 
        white-space: nowrap; 
    }
}

