.lg-menu {
    padding: 5px 5px;
    &-item {
        display: block;
        margin-bottom: 3px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-title {
        width: 100%;
    }
    &-on {
        background: #dda;
    }
    &-sub {
        &-item {
            display: block;
            padding-left: 20px;
        }
    }

    &-dir {
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 30px;
        height: 30px;
        background: #ccc;
    }
    &-file {
        display: flex;
    }
}